.MTMGeneral {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt
    }

.MTMElement {
    }

.MTMText {
    }

A {
    font-family: Arial;
    font-size: 8pt;
    color: #6F5415;
    width: 200px;
    }

A:visited {
    color: #6F5415;
    }

A:hover {
    color: #AE1111;
    }

BODY {
    background-color: ButtonFace;
}

.MTMTooltip {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #31247B;
    background-color: #FFFFE1;
    width: 200px;
    }

#tipBox {
    position: absolute;
    z-index: 100;
    border: 1px #663333 solid;
    padding: 2px 2px 2px 2px;
    background-color: #FFFFE1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #663333;
    visibility: hidden;
    filter:            progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
                    progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
}
#tipBoxWidth {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 0;
    border: 1px #663333 solid;
    padding: 2px 2px 2px 2px;
    background-color: #FFFFE1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #663333;
    visibility: hidden;
    filter:            progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#fffcfcfe, EndColorStr=#fff4f3ee, GradientType=0)
                    progid:DXImageTransform.Microsoft.Shadow(Color=#ff919899, Strength=2, Direction=135);
}

.MEKHeaderRed { font-weight: bold; color: #FF0000 }
.MEKHeaderLightBlue { font-weight: bold; color: #FFFFFF; background-color: #3333CC }
.MEKHeaderBlue { font-weight: bold; color: #FFFFFF; background-color: #000080; }
.SDBHeaderRed { font-weight: bold; color: #FF0000 }
.SDBHeaderBlue { font-weight: bold; color: #FFFFFF; background-color: #0000FF; }
.SDBHeaderLightBlue { font-weight: bold; color: #FFFFFF; background-color: #3333CC }
.UASHeaderLightBlue { font-weight: bold; color: #FFFFFF; background-color: #000080}
.UASHeaderRed { font-weight: bold; color: #FF0000 }
.MTMSPHeaderGreen { font-weight: bold; color: #FFFFFF; background-color: #006600}
.MTM1HeaderRed { font-weight: bold; color: #FF0000 }
.MTM2HeaderRed { font-weight: bold; color: #FF0000 }
.MTM2HeaderGreen { font-weight: bold; color: #FFFFFF; background-color: #009966}
.MOSHeaderBlack { font-weight: bold; color: #000000; background-color: #EAEAEA}
.MOSHeaderRed { font-weight: bold; color: #840000;}
.LOGHeader {  font-weight: bold; color: #993300}

