// Copyright 2019 Siemens Product Lifecycle Management Software Inc.

aw-2d-viewer {
    width: 100%;
    min-width: rem-calc(260);
}

// center the decorator
.aw-2dviewerjs-viewer2DContainer .aw-command-bar.aw-commands-commandBarHorizontal .aw-commands-cellDecorator {
    top: 0;
    right: 0;
}

// fix the position of the text on the toolbar
.aw-command-bar .aw-command .aw-commands-cellDecorator .aw-2dviewerjs-pagenumber {
    position: relative;
    font-size: inherit;     // use the button's font size
    @include flexbox();
    background-color: inherit; // use the button's background color
}

// fix the position of the text on the button list dropdown
.aw-popup-cellContentContainer .aw-commands-cellDecorator .aw-2dviewerjs-pagenumber {
    position: relative;
    font-size: inherit;     // use the button's font size
    @include flexbox();
    background-color: inherit; // use the button's background color
    padding-right: $padding_small;
}

.aw-2dviewerjs-viewer2DParentContainer {
    position: relative;
}

.aw-2dviewerjs-viewer2DContainer .aw-viewerjs-header {
    flex: auto
}
.aw-2dviewerjs-viewer2DChildContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.aw-2dviewerjs-loadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-2dviewerjs-emmLoadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-2dviewerjs-loadProgress {
    @include align-self(flex-end);
    width: 4%;
    height: 0;
    padding-bottom: 4%;
    pointer-events: none;
}

.aw-2dviewerjs-emmLoadProgress {
    @include align-self(center);
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    pointer-events: none;
}

.aw-viewerjs-fullViewActiveBody .aw-2dviewerjs-viewer2DContainer .aw-layout-headerProperties.aw-viewerjs-elementPosition {
    padding: 0 0 0 0;
}

.aw-2dviewerjs-viewer2DContainer .aw-layout-headerProperties.aw-viewerjs-elementPosition {
    margin-bottom: $margin_small;
}
