/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2018.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-partmfg-resources {
    height: 290px;
}

.aw-partmfg-attachments {
    height: 290px;
}

.aw-partmfg-activities {
    height: 300px;
}

.aw-partmfg-grid .ui-grid-top-panel .ui-grid-header-viewport{
    height:100px;
}

.aw-partmfg-grid .ui-grid-top-panel .ui-grid-header-viewport .ui-grid-header-canvas .ui-grid-header-cell-wrapper{
    height:100px;
    display:grid;
}
