/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2017.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
 
.rd-time-root
{
   width: 100%;
   height: 100%;
}

.rd-time-inline-elem
{
   display: inline-block;
   vertical-align: top;
   overflow-y: auto;
   max-height: 100%;
}

.rd-time-cls-tree
{
   width: calc(20% - 3px);
}

.rd-time-data-card
{
    overflow: scroll;
    max-width: 80%;
}

.important 
{
   font-weight: bold;
}
 
.dtree 
{
   font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666;
   white-space: nowrap;
}
 
.dtree img 
{
   border: 0;
   vertical-align: middle;
}
 
.dtree a 
{
   color: #333;
   text-decoration: none;
}
 
.dtree a.node, .dtree a.nodeSel 
{
   white-space: nowrap;
   padding: 1px 2px 1px 2px;
}
 
.dtree a.node:hover, .dtree a.nodeSel:hover 
{
   color: #333;
   text-decoration: underline;
}
 
.dtree a.nodeSel 
{
    background-color: #c0d2ec;
}
 
.dtree .clip 
{
   overflow: hidden;
}
