// Copyright 2019 Siemens Product Lifecycle Management Software Inc.

.aw-layout-breadCrumbContainer {
    .senbreadcrumb{
        .aw-widgets-primaryCrumb {
            color: $main_text_color;
        }

        .aw-widgets-selectedCrumb {
            color: $main_text_color;
        }

        .aw-widgets-crumbLink {
            color: $main_text_color;
            &:hover {
                color: $link_main_hover;
            }
        }
    }
}

.aw-sen-bordered-cell {
    border-color: $PL_Green_18;
}

.aw-sen-cell-highlight {
    background-color: $PL_Green_24;
}

