/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2020.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-sen-ebomContent,
.aw-sen-sbomContent{
    padding: 8px 0;
}

.aw-sen-clickableCellIcon {
    cursor: pointer;
}

.aw-sen-italicText {
    font-style: italic;
}
.aw-sen-visual-indicator{
    width: rem-calc(16);
    height: rem-calc(16)
}

.aw-splm-tableCellText.aw-sen-cellText {
    padding-left: 0;
}

.aw-sen-header-visual-indicator{
    padding-right: $padding_xlarge;
}
