/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2022.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-swi-instrPanel {
    width: 100%;
}
.aw-swi-btnSpace {
    margin-right: rem-calc(10);
}
.aw-swi-step {
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: $fontsize_large;
    margin-top: rem-calc(40);
    margin-left: rem-calc(20);
}
.aw-swi-text {
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: $fontsize_large;
}
.aw-swi-span {
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.aw-swi-labelKey {
        font-weight: 700;
}
.aw-swi-labelValue {
    margin-right: rem-calc(10);
}


