// Copyright 2022 Siemens Product Lifecycle Management Software Inc.

.aw-dpv-featattrstat
{
    box-sizing: content-box;
    height: rem-calc(260);
    width: 95%;
    border-style: solid;
    border-width: 1px;
}

.aw-dpv-deviceAgentContainer
{
    width: rem-calc(800);
    min-width:rem-calc(400);
}

.aw-dpv-healthContainer
{
    width: rem-calc(480);
    min-width:rem-calc(300);
}
