// Copyright 2022 Siemens Product Lifecycle Management Software Inc.

.aw-dpv-chartEtlHealthReportColor1 {
    background-color: $brand_error_background;
}
.aw-dpv-chartEtlHealthReportColor2 {
    background-color: $brand_success_background;
}
.aw-dpv-chartEtlHealthReportColor3 {
    background-color: $Siemens_Yellow_20;
}
