// Copyright 2021 Siemens Product Lifecycle Management Software Inc.
.aw-tcxsimplified-firstColumn {
    height: fit-content;
    width:78%;
    padding-left: $padding_large;
    padding-right: $padding_large;
}

.aw-tcxsimplified-myTaskColumn {
    width: 22%;
    margin-top: $padding_large;
    margin-left: $padding_small;
}

.aw-tcxsimplified-recentFavColumn {
    width: 76%;
    margin-top: $padding_large;
    margin-left: $padding_xlarge;
    padding-left: $padding_xlarge;
    padding-right: $padding_xlarge;
}

.aw-tcxsimplified-discussionColumn {
    width: 18%;
    margin-top: $padding_xlarge;
    height: rem-calc(712);
}

.aw-tcxsimplified-title {
    font-weight: $bold_font_weight;
    font-size: $fontsize_large;
    width: 100%;
    padding-left: $padding_small;
    padding-bottom:$padding_large;
    text-transform: uppercase;
}

.aw-tcxsimplified-card {
    margin: rem-calc(10);
    padding-left: $padding_small;
    flex-direction: column;
    display: flex;
    .aw-widgets-cellListWidget {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.aw-tcxsimplified-cardHeight {
    height: rem-calc(230);
}

.aw-tcxsimplified-myTasksCardHeight {
    height: rem-calc(495);
}

.aw-tcxsimplified-data {
    flex-direction: column;
    height: rem-calc(155);
    width: 100%;
    padding-bottom:$padding_normal;
}

.aw-tcxsimplified-discussionHeight {
    height: rem-calc(712);
}

.aw-tcxsimplified-cellborder {
    .sw-aria-border.aw-widgets-cellListItem.aw-widgets-cellTop {
        border-color: transparent;
        border-bottom-color: transparent;
    }
}

.aw-tcxsimplified-margin {
    margin-top: $padding_xlarge;
}

.aw-tcxsimplified-targetSectionRow {
    max-height: rem-calc(200);
    min-height: rem-calc(90);
    height: rem-calc(160);
}
