// Copyright 2021 Siemens Product Lifecycle Management Software Inc.

.aw-tcxsimplified-card {
    box-shadow: $drop_shadow_small;
    background-color: $brand_primary_content_background;
    &:hover {
        background-color: $brand_primary_content_background;
        box-shadow: $drop_shadow_2x_large;
        border-color: $PL_Black_23;
    }
}

.aw-tcxsimplified-text {
    color:$PL_Black_13;
}

.afx-content-background .aw-tcxsimplified-title .sw-aria-border {
    color: $Siemens_Blue_7;
    &:hover {
        color: $Siemens_Yellow_9;
    }
}

.aw-tcxsimplified-discussionCell .aw-widgets-cellListWidget .aw-widgets-cellListItem:not(.aw-widgets-dropframe) {
    border-color: $PL_Black_16;
}

.aw-tcxsimplified-bg{
    @include gradient_bg();
    color: $brand_primary_inverse_text;
    fill: $brand_primary_inverse_text;
}
