<%  var late = _.get( vmo, 'props.' + propName + '.dbValue' );
    if( late ){
        var imagePath = basePath +'/image/';
        var toolTip = "";
        if( tooltipProps ){
            _.forEach( tooltipProps, function( tooltipPropName ){
                var toolTipPropName = _.get( vmo, 'props.' + tooltipPropName + '.propertyDisplayName' );
                toolTip += toolTipPropName;
            });
        }
        imagePath += "indicatorDelayed16.svg";

    %>
    <img src ="<%=imagePath%>" title="<%=toolTip%>" alt="<%=toolTip%>" class="aw-visual-indicator">
<%}%>
<%  var error = _.get( vmo, 'props.' + 'fnd0ErrorTasks' + '.dbValue.length' );
    if( error > 0 ){
        var imagePath1 = basePath +'/image/';
        var toolTip = "";

                var toolTipPropName = _.get( vmo, 'props.' + 'fnd0ErrorTasks' + '.propertyDisplayName' );
                var toolTipPropVal = _.get( vmo, 'props.' + 'fnd0ErrorTasks' + '.uiValue' );
                if( toolTipPropVal ){
                    toolTip += toolTipPropName + ": " + toolTipPropVal + '\n'
        }
        imagePath1 += "indicatorFailed16.svg";
    %>
    <img src ="<%=imagePath1%>" title="<%=toolTip%>" alt="<%=toolTip%>" class="aw-visual-indicator">
<%}%>
