<%  var stage = _.get( vmo, 'props.' + propName + '.dbValue' );
    var errorLength = _.get( vmo, 'props.' + 'fnd0TaskExecutionErrors' + '.dbValue.length');

    if( stage === 2 && errorLength > 0 ){

        var imagePath = basePath +'/image/';
        var toolTipValue = _.get( vmo, 'props.' + 'fnd0TaskExecutionErrors' + '.uiValue' );
        var toolTip = _.replace( toolTipValue , new RegExp('\\"','g'), '&quot;');
        imagePath += "indicatorFailed16.svg";
    %>
    <img src ="<%=imagePath%>" title="<%=toolTip%>" alt="<%=toolTip%>" class="aw-visual-indicator">
<%}%>

<%  var stage = _.get( vmo, 'props.' + 'late_flag' + '.dbValue' );
    if( stage ){
        var imagePath = basePath +'/image/';
        var toolTip = _.get( vmo, 'props.' + 'late_flag' + '.propertyDisplayName' );
        imagePath += "indicatorDelayed16.svg";
    %>
    <img src ="<%=imagePath%>" title="<%=toolTip%>" alt="<%=toolTip%>" class="aw-visual-indicator">
<%}%>
