// Copyright 2021 Siemens Product Lifecycle Management Software Inc.
.aw-layout-popup {
    .aw-occmgmt-tooltipEffectivityCell div.aw-widgets-cellListCellImage{
        max-height: 48px;
    }

    .aw-occmgmt-tooltipEffectivityCell .aw-widgets-cellListItemContainer .aw-widgets-cellListItemCell{
        width: 100%;
    }
}

.aw-occmgmt-elemEffEndItem span.sw-property-name {
    width: auto;
    min-width: 5rem;
}
